.right-container {
  display: flex;
  flex-direction: column;
  width: 35vw;
  justify-content: space-between;
  border-left: 2px solid #e5caeb;
}

.right-header {
  display: flex;
  position: relative;
  height: 10%;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  width: 35vw;
}

.position {
  height: 30px;
  width: auto;
  padding-right: 10px;
}

.search-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgb(250, 241, 244), rgb(182, 125, 187));
  border: none;
  border-radius: 15px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  top: 10px;
  /* distance from top */
  right: 10px;
  /* distance from right */
}

.search-button img {
  height: 30px;
  width: auto;
}

.right-header-show-search{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  width: 35vw;
height: auto;
}

.input-suggestion-cont{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
   width: 35vw;
   height: auto;
   gap: 5px;
}

.search-input {
  display: block;
  height: 1.4rem;
  padding: 0.5rem 0.75rem;
  background-color:  rgba(255, 255, 255, 0.15);
  border: 1.5px solid #ddd;
  border-radius: 8px;
  font-size: 0.95rem;
  color: #ffffff;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}
.search-input::placeholder {
  color: white;
  opacity: 1; /* ensure it's not faded */
}

.search-input:focus {
  border-color: #a67ecf; /* subtle purple to match your border-left */
  box-shadow: 0 0 4px rgba(166, 126, 207, 0.4);
}

.suggestion-dropdown {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 35vw;
  height: auto;
  overflow-y: scroll;
  z-index: 10;
  justify-content: flex-start;
  max-height: 22vh;
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
  width: 72%;
}

.suggestion-item:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border: 0 2px 6px rgba(0,0,0,0.15);
}



.location{
  display: flex;
  justify-content: center;
}

.position-city{
  margin: 5px;
}

.right-hours {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
  height: auto;
}

.status-cards {
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: center;
  margin: 10px;
  height: 200px;
  width: 100%;
}
